.loginpage {
  display: none;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  height: 0;
  transition: opacity 0.5s ease;
  .loginbox {
    opacity: 0;
    visibility: hidden;
  }
}
.loginpage.aktif {
  display: flex;
  opacity: 1;
  visibility: visible;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  transition: opacity 0.5s ease;
  .alert {
    width: 322px;
    position: fixed;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .loginbox {
    opacity: 1;
    visibility: visible;
    border-radius: 20px;
    width: 322px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 450px;
    background-color: white;
    h1 {
      text-align: center;
    }
    img {
      cursor: pointer;
      margin: 20px;
      width: 10%;
      transform: rotate(45deg);
      transition: transform 0.5s ease;
    }
    img:hover {
      transform: rotate(135deg);
    }
    p {
      margin-top: 12px;
      text-align: center;
      font-size: 12px;
      span {
        cursor: pointer;
        font-weight: 700;
        transition: all 0.5s ease;
      }
      span:hover {
        border-radius: 50px;
        padding: 3px 14px 3px 14px;
        color: white;
        background-color: black;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      margin: 1rem 2rem;
      label {
        margin-bottom: 6px;
      }
      input {
        padding: 6px 0 6px 1rem;
        border: solid black 1px;
        border-radius: 50px;
        margin-bottom: 1rem;
      }
    }
  }
}

@media screen and (min-width: 1020px) {
  .loginpage.aktif {
    .alert {
      width: 550px;
      position: fixed;
      top: 10%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .loginbox {
      width: 550px;
      position: fixed;
      form {
        margin: 1rem 4rem 3rem 4rem;
      }
      img {
        width: 5%;
      }
    }
  }
}
