.note_container {
  // overflow: hidden;
  .note {
    margin: auto;
    padding: 0 40px;
    height: 100vh;
    font-family: "Poppins", sans-serif;
  }
  .bg {
    transition: opacity 0.5s ease;
    opacity: 0;
    visibility: hidden;
  }
  .bg.aktif {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: black;
    opacity: 0.5;
    visibility: visible;
  }
}

.note_container.aktif {
  overflow: hidden;
}

@media screen and (min-width: 1020px) {
  .note {
    max-width: 1380px;
  }
}
