.notelist {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #f4f6f8;
  border-radius: 20px;
  margin-top: 1rem;
  transition: all 0.5s ease;
  .logo {
    border-radius: 20px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6ecfc;
    transition: all 0.5s ease;
    img {
      width: 40px;
    }
  }
  h1 {
    margin-left: 1rem;
    font-size: 20px;
  }
}

.notelist:hover {
  background-color: #e7edf3;
  .logo {
    background-color: #d1d9f1;
  }
}
